#![enable(implicit_some)]
Container(
    transform: (
        id: "game_ui_background",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.,
        height: 20.,
    ),
    background: SolidColor(0.01, 0.01, 0.01, 0.0),
    children: [
        Label(
            transform: (
                id: "fps",
                x: 100.,
                y: -16,
                width: 200.,
                height: 25.,
                tab_order: 2,
                anchor: TopLeft,
                opaque: false,
            ),
            text: (
                text: "N/A",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 20.,
                color: (1.0, 1.0, 0.2, 1.0),
            )
        ),

 
    ],
)
