#![enable(implicit_some)]
Container(
    transform: (
        id: "pause_menu",
        anchor: Middle,
        //stretch: XY( x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: false),

        // here the z-value is relevant to get shown `in front of' the other UI elements
        z: 2.0,

        width: 350,
        height: 400,
    ),
    background: SolidColor(0.0, 0.0, 0.0, 0.1),
    children: [
        Button(
            transform: (
                id: "resume",
                x: 0.0,
                y: 90.0,

                // because of the container, the button will react `before' the elements below it,
                // but we also want to fully draw this button in front of the other elements as well.
                z: 2.0,

                width: 300.0,
                height: 50.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Resume",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 30.0,
                normal_image: SolidColor(0.0, 0.0, 0.0, 0.1),
                press_image: SolidColor(0.01, 0.01, 0.01, 0.1),
                normal_text_color: (0.5, 0.5, 0.5, 1.0),
                hover_text_color: (0.8, 0.8, 0.8, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
        Button(
            transform: (
                id: "save_game",
                x: 0.0,
                y: 30.0,

                // because of the container, the button will react `before' the elements below it,
                // but we also want to fully draw this button in front of the other elements as well.
                z: 2.0,

                width: 300.0,
                height: 50.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Save Game",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 30.0,
                normal_image: SolidColor(0.0, 0.0, 0.0, 0.1),
                press_image: SolidColor(0.01, 0.01, 0.01, 0.1),
                normal_text_color: (0.5, 0.5, 0.5, 1.0),
                hover_text_color: (0.8, 0.8, 0.8, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
        Button(
            transform: (
                id: "options",
                x: 0.0,
                y: -30.0,

                // because of the container, the button will react `before' the elements below it,
                // but we also want to fully draw this button in front of the other elements as well.
                z: 2.0,

                width: 300.0,
                height: 50.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Options",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 30.0,
                normal_image: SolidColor(0.0, 0.0, 0.0, 0.1),
                press_image: SolidColor(0.01, 0.01, 0.01, 0.1),
                normal_text_color: (0.5, 0.5, 0.5, 1.0),
                hover_text_color: (0.8, 0.8, 0.8, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
        Button(
            transform: (
                id: "exit_to_main_menu",
                x: 0.0,
                y: -90.0,
                z: 2.0,
                width: 300.0,
                height: 50.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Exit to Main Menu",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 30.0,
                normal_image: SolidColor(0.0, 0.0, 0.0, 0.1),
                press_image: SolidColor(0.01, 0.01, 0.01, 0.1),
                normal_text_color: (0.5, 0.5, 0.5, 1.0),
                hover_text_color: (0.8, 0.8, 0.8, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
        Button(
            transform: (
                id: "exit",
                x: 0.0,
                y: -150.0,
                z: 2.0,
                width: 300.0,
                height: 50.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Exit",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 30.0,
                normal_image: SolidColor(0.0, 0.0, 0.0, 0.1),
                press_image: SolidColor(0.01, 0.01, 0.01, 0.1),
                normal_text_color: (0.5, 0.5, 0.5, 1.0),
                hover_text_color: (0.8, 0.8, 0.8, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
    ]
)
